/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(3, 3, 3);
  background: whitesmoke;
}

#left {
  float: left;
  width: 33.3%;
  background: #4ea4f5;
  color: white;
  /* padding: 16px; */
  font-weight: bold;
}

#middle {
  width: 33.3%;
  float: left;
  background: #53af50;
  color: white;
  /* padding: 16px; */
  font-weight: bold;
  /* margin: 0 auto; */
}

#right {
  float: left;
  width: 33.3%;
  background: #f25150;
  color: white;
  /* padding: 16px; */
  font-weight: bold;
}

#full {
}

#division {
}

aside {
}

footer {
}
